playwright==1.54.0
pytest==8.3.3
python-dotenv==1.0.1
loguru==0.7.2
beautifulsoup4==4.12.3
typing-extensions==4.14.1

# Pytest Plugins
pytest-asyncio==0.23.7
pytest-rerunfailures==15.1
pytest-base-url==2.1.0